.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://i.pinimg.com/originals/af/50/93/af5093b93b4291cf120df95c250dcb68.jpg');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
