
<head>
<style>
    @page {
        size: a5 landscape;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
</style>

</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
                        <h2 >

                           LACOSTE INC.

                        </h2>


    </div>
            <main>
                <div id="content">
                    <div >
                        <td>Troyes, France</td>
                        <td>+44 1962 312803</td>
                        <td>lacosteinfo@lacoste.com</td>
                        <td>NOTA DE CREDITO DE:</td>
                        <h2 >{{ cliente.nombre }}</h2>
                        <td >{{ cliente.direccion }}</td>
                        <td ><a>{{ cliente.correo}}</a></td>
                    </div>

                        <h1 >NOTA DE CREDITO {{ idf }}</h1>
                        <td >Fecha: {{ fecha }}</td>


                </div>
                <table border="1" cellspacing="2" cellpadding="2">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th >DESCRIPCION</th>
                            <th >PROVEEDOR</th>
                            <th >PRECIO</th>
                            <th >CANTIDAD</th>
                            <th >IMPORTE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in dics %}
                        <tr>
                            <td align="center">{{ i.idpp }}</td>
                            <td align="center">{{ i.nombre }}</td>
                            <td align="center">{{ i.idp }}</td>
                            <td align="center" >${{ i.precio }}</td>
                            <td align="center">{{ i.cant }}</td>
                            <td align="center">${{ i.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <table border="0" cellpadding="2" cellspacing="2">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="1" align="right">SUBTOTAL</td>
                            <td align="center">${{ total|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="1" align="right">ITBIS</td>
                            <td align="center">${{ totali|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td  colspan="1"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="1" align="right">TOTAL</td>
                            <td align="center">${{ totalit|floatformat:2 }}</td>
                        </tr>
                    </table>
                </table>



  <div id="footer_content">(c) - page <pdf:pagenumber>
    of <pdf:pagecount> </div>


</body>
</html>