{% extends 'cuentas/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="GET">


            {{ pfiltro.form }}
		    <input class="btn btn-primary" value="Buscar" type="submit">

		  </form>
		</div>
	</div>

</div>
<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Productos</h5>
				</div>
            <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" href="{% url 'crear_prod' %}">Añadir producto</a>
					<table class="table">
						<tr><th>ID</th>
							<th>Codigo</th>
                            <th>Descripcion</th>
							<th>Categoria</th>
							<th>Precio</th>
                            <th>Precio Itbis</th>
                            <th>Stock Inicial</th>
                            <th>Entradas</th>
                            <th>Salidas</th>
                            <th>Stock Final</th>
						</tr>


                        {% for i in productos %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.codigo }}</td>
                                <td>{{ i.descripcion }}</td>
                                <td>{{ i.categoria }}</td>
                                <td>{{ i.precio }}</td>
                                <td>{{ i.precioitbis }}</td>
                                <td>{{ i.stocki }}</td>
                                <td>{{ i.entradas }}</td>
                                <td>{{ i.salidas }}</td>
                                <td>{{ i.stockf }}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'mod_prod' i.id %}">Modificar</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'borrar_prod' i.id %}">Eliminar</a></td>

                            </tr>
                        {% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock %}

